.datepicker {
    width: 200px;
    height: 30px;
    position: relative;
}
.datepicker .dateinput {
    width: 100%;
    height: 100%;
}
.datepicker .dateinput input {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px;
    outline-style: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.datepicker .datechose {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    width: 200px;
    /*height: 170px;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-color: #EEF0EB;
    font-size: 12px;
    text-align: center;
    color: #757575;
    border-radius: 5px;
}
.datepicker .datechose .change{
    height: 20px;
}
.datepicker .datechose .change button{
    float: left;
    width: 12%;
    background-color: transparent;
    border: none;
    outline-style: none;
    cursor: pointer;
    color: blueviolet;
    font-size: 16px;
}
.datepicker .datechose .change button.preMonth {
    font-size: 14px;
    color: #d62121;
}
.datepicker .datechose .change button.nextMonth {
    font-size: 14px;    
    color: #d62121;
}
.datepicker .datechose .change span{
    float: left;
    width: 52%;
}
.datepicker .datechose .day{
    /*height: 150px;*/
}
.datepicker .datechose table {
    width: 100%;
    height: 100%;
}
.datepicker .datechose table tbody td{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.datepicker .datechose table tbody td.selected {
    background-color: #49A895;
    color:#fff;
}
.datepicker .datechose table tbody td.preMonth {
    color: #b77f7f;
}
.datepicker .datechose table tbody td.nextMonth {
    color: #b77f7f;
}

.datepicker .datechose table tbody td:hover {
    background-color: #98d298;
    cursor: pointer;
}